@font-face {
    font-family: "SegoeLight";
    src: url(../fonts/SegoeLight.ttf);
}

@font-face {
    font-family: "SegoeWPN";
    src: url(../fonts/SegoeWPN.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 1250px;
    margin: auto;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 5px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 44px;
    height: 44px;
}

.logo p {
    margin: 0;
    margin-left: 15px;
    font-family: "SegoeLight";
    font-size: 42px;
    color: rgb(0, 0, 0);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 50px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 17px;
}

.menu a {
    font-family: "SegoeWPN";
    text-decoration: none;
    font-size: 20px;
    color: rgb(108, 108, 108);
}

.menu li a:hover {
    padding-bottom: 28px;
    border-bottom: 3px solid #5094f2;
}

.banner {
    font-family: "SegoeLight";
    color: rgb(255, 255, 255);
    font-weight: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    background-image: url("../img/banner-background.png");
    background-repeat: no-repeat;
}

.reponse-banner {
    font-family: "SegoeLight";
    color: rgb(255, 255, 255);
    font-weight: 100;
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    background-image: url("../img/banner-background.png");
    background-repeat: no-repeat;
}

.banner h3 {
    font-size: 42px;
    margin: 0;
}

.banner p {
    font-size: 26px;
    margin-top: 5px;
}

.myButton {
    background-color: #5093f2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "SegoeWPN";
    font-size: 22px;
    padding: 7px 18px;
    text-decoration: none;
    margin-left: 10px;
}

.myButton:hover {
    background-color: #437fcf;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    body {
        width: 650px;
    }
    .logo {
        margin-left: 40px;
    }
    .banner h3 {
        font-size: 30px;
        margin: 0;
    }
    .banner p {
        font-size: 22px;
    }
    .carousel {
        display: none;
    }
    .reponse-banner {
        display: flex;
    }
}

.icon {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 185px;
    height: 185px;
    border-radius: 50%;
}

.circle-blue {
    background-color: #5094f2;
}

.circle-red {
    background-color: #d94748;
}

.circle-yellow {
    background-color: #ebbb11;
}

.icon h3 {
    margin-top: 10px;
    font-size: 24px;
    font-family: "SegoeWPN";
    color: rgb(80, 148, 242);
    text-align: center;
}

.icon p {
    font-size: 16px;
    font-family: "SegoeWPN";
    color: rgb(144, 144, 144);
    text-align: center;
}

@media screen and (max-width: 650px) {
    body {}
    .icon {
        flex-direction: column;
    }
    .icon1,
    .icon2,
    .icon3 {
        border-bottom: 1px solid #e5e5e5;
        margin-top: 30px;
    }
}

.shopping {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.basket h3 {
    font-size: 42px;
    font-family: "SegoeWPN";
    color: rgb(111, 113, 115);
    margin-bottom: 25px;
}

.shopping-text h3 {
    font-size: 26px;
    font-family: "SegoeWPN";
    color: rgb(111, 113, 115);
}

.shopping-text p {
    font-size: 16px;
    font-family: "SegoeWPN";
    color: rgb(144, 144, 144);
}

@media screen and (max-width:650px) {
    .shopping {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

footer {
    display: flex;
    margin-top: 55px;
    height: 100px;
    border-top: 1px solid #e5e5e5;
}

footer p {
    font-size: 16px;
    font-family: "SegoeWPN";
    color: rgb(144, 144, 144);
    margin: auto;
    text-align: center;
}